.header{
  margin: 40px;
}

.header > .logo{
  width: 220px;
  height: 86px;
}

.inputFeild{
  width: 200px;
  background: rgb(234,231,231) !important;
  margin-right: 10px;
}

.skills{
  width: 300px;
}

.selectionContainer{
  text-align: center;
}

.searchBar{
  width: 25%;
  float: left;
  padding-left: 35px;
}

.resultArea{
    float: left;
    text-align: center;  
}

.rowCount{
  width: 100%;
}

.sorting, .statusLabel{
  text-align: center;
  width: 50%;
  float: left;
  padding: 20px;
}

.resultArea div{
  text-align: center;
  width: 75%;
}

.sorting span{
  margin-left: 10px;
}

.Resultcontainer{
  width: 800px !important;
  text-align: center;
}

.center{
  text-align: center;
}

.resultCardBody, .resultCardDesc, .resultCardSkills{
  margin-left: 50px !important;
  width: 700px !important;
}

.resultCardDesc, .resultCardSkills{
  margin-left: 0px !important;
}

.resultCardDesc{
  text-align: justify;
}

.resultCardSkills{
  font-weight: bold;
  margin-top: 5px;
}

.resultCardFooter{
  width: 800px !important;
  text-align: center !important;
  margin-top: 10px;
  color: black;
}

.detailsIcon{
  margin-left: 20px !important;
  color: rgb(128,120 ,120);

}

.createdLabel{
  position: absolute !important;
  right: 10px !important;
  color: rgb(128,120 ,120);
}
.applyBtn{
  position: absolute !important;
  right: 10px !important;
  bottom: 10px;
}

.jobType{
  position: absolute !important;
  left: 10px !important;
  top: 10px;
}